
@media only screen and (max-width: 360px) {
    .navbar-toggler-icon {
        color: #F13A11 !important;
        margin-top: 3px;
        padding-left: 120px;
    }
    .navbar-expand-lg .navbar-nav {
        padding-left: 68px;
    }
    .social-icons {
        margin-left: 12px;
    }
    .t1, .t2{
        margin: 20px  !important;
    }
  }@media only screen and (max-width: 992px) {
      
  }


